@font-face {
  font-family: "Cuprum-bold";
  src: url("../fonts/cuprum/Cuprum/Cuprum-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum-regular";
  src: url("../fonts/cuprum/Cuprum/Cuprum-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum-italic";
  src: url("../fonts/cuprum/Cuprum/Cuprum-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}
